<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="new.css"/>
    <link rel="stylesheet" href="../styles/normalize.css"/>
    <title></title>
</head>
<body>

<nav>
    <h1>
        <a href="#">The Wall</a>
    </h1>

    <div class="register"><a href="#register">Register</a></div>

    <div class="login"><a href="#login">Login</a></div>
</nav>


    <main role="main">

<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">
<img src="http://www.moorsmagazine.com/images/boom3.JPG">

    </main>

</body>
</html>